.card {
  margin-top: 5vh;
  margin-bottom: 10vh;
}

.card-header {
  background-color: #464866;
}

.card-body {
  background-color: #29648A;
}

.location,a {
  font-size: 1.3vw;
  font-weight: normal;
  font-family: "Share Tech Mono", sans-serif;
}

.svg-inline--fa.fa-w-12 {
  width: 1em;
}

.svg-inline--fa.fa-w-10 {
  width: .5em;
  height: .75em;
}