@import url("https://fonts.googleapis.com/css?family=Lato:400,300,100,100italic,300italic,400italic,700,700italic|Roboto+Slab:400,100,300,700");

.svg-inline--fa.fa-w-12 {
  width: 1em;
}

.svg-inline--fa.fa-w-10 {
  width: .1em;
  height: .1em;
}
