@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

h5 {
  font-size: 2.5vw;
  font-weight: normal;
  font-family: "RaleWay", sans-serif;
}

h6 {
  font-size: 1.5vw;
  font-weight: normal;
  font-family: "RaleWay", sans-serif;
}

li {
  font-size: 1.5vw;
  font-weight: normal;
  font-family: "RaleWay", sans-serif;
  text-align: left;
}

.exp-title {
  text-align: center;
}

.row {
  width: 100%;
}

.experience-container {
  position: absolute;
  top:10vh;
  max-width: 96vw;
}

.experience {
  background-color: #0a192f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow:hidden;
  position: relative;
}

a {
  color:inherit;
  text-decoration:none;
}

a:hover {
  color: black;
}