@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

h5 {
  font-size: 2.5vw;
  font-weight: normal;
  font-family: "RaleWay", sans-serif;
}

h6 {
  font-size: 1.5vw;
  font-weight: normal;
  font-family: "RaleWay", sans-serif;
}

.link {
  margin-left: .4em;
  font-size: 1em;
}

.exp-title {
  text-align: center;
  font-size: calc(12px + 3vw);
  font-family: "RaleWay", sans-serif;

  @media screen and (min-width: 1100px) {
    font-size: 3vw;
  }

  @media screen and (max-width: 1000px) {
    margin-top:5vh;
  }
}

.row {
  width: 100%;
}

.experience-container {
  top:10vh;
  max-width: 96vw;
}

.experience {
  background-color: #0a192f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color:inherit;
  text-decoration:none;
}

a:hover {
  color: #00aef0;
  text-decoration:none;
}

.svg-inline--fa.fa-w-12 {
  width: 1em;
}

.svg-inline--fa.fa-w-10 {
  width: .5em;
  height: .75em;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #fff;
}

.CV-page {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 2em;
  color: white;
  font-size: 1em;
  font-family: 'RaleWay', sans-serif;
}

@media all and (max-width: 500px) {
  .CV-page {
    padding: 0 1em;
  }
}

.CV-secondaryHeading {
  position: relative;
  margin: 2em 0 0;
  text-transform: uppercase;
}

.CV-grid {
  display: table;
}

.CV-grid-column {
  display: table-cell;
}

.CV-timeline {
  position: relative;
  margin: 0 0 0 0.5em;
  padding-left: 1.5em;
  border-left: solid 1px aqua;
}

.CV-timeline:first-of-type {
  margin-top: 1em;
}

.CV-timeline:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5em;
  display: block;
  width: 1em;
  height: 1em;
  border: solid 4px #0a192f;
  background-color: #ffffff;
  border-radius: 50%;
}

.CV-timeline-heading {
  margin: 0;
  padding-bottom: 0.5em;
  line-height: 1em;
  font-weight: normal;
  -webkit-transform: translateY(-0.1em);
  -ms-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
}

.CV-timeline-heading-title {
  line-height: 1;
  color: #00aef0;
  font-style: italic;
  text-transform: uppercase;
  font-family: RaleWay, sans-serif;

  @media screen and (max-width: 1000px){
    font-size: 20px;
  }
}

.CV-timeline-heading-location {
  font-size: 2em;
  color: white
}

.CV-timeline-heading-duration {
  display: block;
  font-size: 0.8em;
  padding-top:.5em;
  color: #6f6f6f;
}

.CV-timeline-heading-name {
  display: block;
  font-size: 1em;
  padding-top:.5em;
  color: #00aef0;
}

.CV-timeline-details {
  display: block;
  margin: 0;
  padding: 0 0 1em 1em;
  list-style-type: circle;
}

.CV-timeline-details-item {
  margin-bottom: 0.5em;
  font-family: RaleWay, sans-serif;
  color: white;
}

.CV-job-timeline-item {
  padding-bottom: 1em;
  font-size: 1.5vw;
  font-weight: normal;
  font-family: "RaleWay", sans-serif;
  text-align: left;

  @media screen and (max-width: 1000px){
    padding-bottom: .6em;
    font-size:16px !important;
  }
}

.CV-job-timeline-item::marker {
  color: white;
}

.career-info {
  @media screen and (max-width: 1000px) {
    margin-top:5vh;
  }
}

.svg-inline--fa.fa-w-16 {
  width: .8em;
}