@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.landingPage {
    background-color: rgb(10, 25, 47);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
}

.bigText {
    font-size: 5vw;
    font-family: "RaleWay", "sans-serif";
    font-weight: 900;
}

.subTitle {
    font-size: 4vw;
    font-family: "RaleWay", "sans-serif";
}

.Cursor {
    color: rgb(10, 25, 47);
}
