@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.contact {
  padding-top: 10vh;
  background-color: #252934;
  text-align: center;
}

.contact h3 {
  color: #04C2C9;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: 1.3vw;
  font-family: "RaleWay", sans-serif;
  font-weight: 600;

  @media screen and (max-width: 1000px) {
    font-size: 2.5vw;
  }

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}