@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

h2 {
  font-size: 3.5vw;
  padding-bottom: .5em;
  font-weight: bold;
  font-family: "RaleWay", sans-serif;
  color: white;
}

.contact {
  padding-top: 10vh;
  background-color: #252934;
  text-align: center;
}

.contact h3 {
  color: #04C2C9;
  font-size: 1.3vw;
  font-family: "RaleWay", sans-serif;
  font-weight: 600;
}