@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.form-box {
  padding-bottom: 5vh;
  width: 40vw;
  display: inline-block;
}

.field {
  border-radius: 0;
  margin-bottom: .5vh;
  background-color: #1E242C;
  border: none;
  color: white;
  width: 40vw;
}

.row {
  margin: 0;
}

.form-control:focus {
  color: white;
  background-color: #1E242C;
  border: none;
  box-shadow: none;
}

.btn-submit {
  float: right;
  font-size: 12pt;
  padding: 10px 30px;
  color: #fff;
  background: transparent;
  outline: 0;
  border: 2px solid #fff;
  box-sizing: inherit;
  display: inline-block;
  border-radius: 0;
  cursor: pointer;
  width:100%;
  font-family: "RaleWay", "sans-serif";
}

.alert-dismissible {
  width: 50%;
  margin-left: 25vw;
}

.col-sm-10 {
  padding-left: 0;
}

h1 {
  color: white;
}