@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

.profile {
    background-color: rgb(10, 25, 47);
    padding-bottom: 0;
    text-align: center;
}

.profile-container {
    margin-left: 6.5vw;
    width: 100%;
    margin-right: 0;
    text-align: left;

    @media screen and (max-width: 1000px) {
        margin-right: 6.5vw;
    }
}

.row {
    width: 50vw;
    margin-bottom: 0;
}

.info {
    padding-bottom: 5vh;
    font-size: 1.5vw;
    font-weight: normal;
    font-family: "RaleWay", sans-serif;

    @media screen and (max-width: 1000px) {
        font-size: 2.5vw;
    }

    @media screen and (max-width: 600px) {
        font-size: 3.5vw;
    }
}
.list-group-item {
    padding-top: .25em;
    padding-bottom: .25em;
}
li {
    font-size: 1.5vw;
    font-weight: normal;
    font-family: "RaleWay", sans-serif;
    background-color: transparent !important;

    @media screen and (max-width: 1000px) {
        font-size: 2.5vw !important;
    }

    @media screen and (max-width: 600px) {
        font-size: 3.5vw !important;
    }
}

h3 {
    padding-bottom: 2vh;
    font-size: 1.5vw;
    font-weight: normal;
    font-family: "RaleWay", sans-serif;
}

.frame1 {
    position: absolute;
    margin-top: 10vh;
    right: 12.5vw;
    height: 23vw;
    width: 23vw;
    border: antiquewhite 1px solid;
    background-color: transparent;
    border-radius: 3px;
}

.frame2 {
    position: absolute;
    margin-top: calc(10vh + 1vw);
    right: calc(12.5vw - 1vw);
    height: 23vw;
    width: 23vw;
    border: antiquewhite 1px solid;
    background-color: transparent;
    border-radius: 3px;
}

.underline {
    border-bottom: antiquewhite 3px solid;
    width: 3.5em;
    margin: -5vh auto auto;
    margin-bottom: 8vh;
}

.picture {
    position: absolute;
    margin-top: calc(10vh + 1vw);
    right: 12.5vw;
    height: calc(23vw - 1vw);
    width: calc(23vw - 1vw);
    background-color: #04C2C9;
}

.title {
    font-size: 3vw;
    padding-bottom: 5vh;
    font-family: "RaleWay", sans-serif;
}
